<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vue.js</title>
  <script src="./res/vue@2.6.12.js"></script>
  <link rel="stylesheet" href="./res/bootstrap.css">
  <link rel="stylesheet" href="./style.css">
</head>

<body class=" h-100 text-white bg-dark">
  <div id="vApp">
    <!-- nav -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Fixed navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" v-if="dMessage == null">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto mb-2 mb-md-0">
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <div id="vGame" class="d-none">
      <div class="container">
        <div class="starter-template text-center py-5 px-3">
          <h1>Bootstrap starter template</h1>
          <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
        </div>
      </div>
    </div>
    <div id="vMessage" class="card" v-if="dMessage != null">
      <img id="vMessageImg" :src="dMessage.img" v-if="dMessage.img != null" class="card-img-top">
      <div class="card-body">
        <p class="card-text text-black">{{dMessage.text}}</p>
        <a class="btn btn-primary" v-on:click="mMessageBtn()">{{dMessage.btn}}</a>
      </div>
    </div>
  </div>
  <script src="./res/bootstrap.js"></script>
  <script type="module" src="./app.js"></script>
</body>

</html>