body {
  padding-top: 55px;
  width: 100vw;
  height: 100vh;
}

#vGame {}

#vStory {
  width: 80%;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  /* -webkit- transform: translateY(-50%) translateX(-50%); */
}
